@model MOEN_ERP.Models.ViewModel.MasterWarehouseDetail


@using (Html.AjaxBeginForm("SaveMasterWarehouse", "Master", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "tblMain" }, new { enctype = "multipart/form-data", @class = "needs-validation", @novalidate = "novalidate" }))
{
   

    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" id="mdlMasterWarehouse">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">
                        <label>คลังเก็บวัสดุ</label>
                    </h3>
                    <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                        <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                    </div>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(x => x.MasterWarehouse.Id)
                    <div class="row mb-5">
                        <input id="masterWarehouseId" class="form-control form-control-sm" asp-for="MasterWarehouse.Id" name="MasterWarehouse.Id" hidden />
                        <div class="col-md-6 mb-3">
                            <label class="col-form-label">ชื่อคลังเก็บวัสดุ: <span class="text-danger">*</span></label>
                            <input class="form-control form-control-sm" asp-for="MasterWarehouse.Name" name="MasterWarehouse.Name" required />
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="col-form-label">&nbsp;</label>
                            <div class="form-check mt-3 ms-3">
                                <input class="form-check-input" type="checkbox"
                                       checked=@(Model.MasterWarehouse.Active ?? true ) value="true" name="MasterWarehouse.Active" id="Active">
                                <label class="form-check-label ms-2" for="Active">
                                    ใช้งาน
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="col-form-label">ชื่อหน่วยงาน: </label>
                            <select class="form-select form-select-sm" name="MasterWarehouse.OrganizationId" asp-for="MasterWarehouse.OrganizationId" asp-items="ViewBag.MasterOrganization">
                                <option value="">กรุณาเลือก</option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="col-form-label">ระดับคลัง: </label>
                            <select class="form-select form-select-sm" name="MasterWarehouse.WarehouseLevel" asp-for="MasterWarehouse.WarehouseLevel">
                                <option value="0">กรุณาระบุ</option>
                                <option value="1">หน่วยงานจัดซื้อ</option>
                                <option value="2">หน่วยงานส่วนกลาง</option>
                                <option value="3">หน่วยงานจังหวัด</option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="col-form-label">หมวดพัสดุ: </label>
                            <select class="form-select form-select-sm" asp-items="ViewBag.MasterMaterialGroup" id="cmbMaterialGroup" onchange="GetlistVMaterialSafetyStockByMaterialGroup()">
                                <option value="">ทั้งหมด</option>
                            </select>
                        </div>

                        <div id="divTblMaterialSafetyStock">
                            @await Html.PartialAsync("_tableMaterialSafetyStock", Model)
                        </div>
                       @*  <div id="divTblMaterialSafetyStock">
                            <div class="table-responsive-xxl table-responsive-xl table-responsive-lg table-responsive-md table-responsive-sm">
                                <table id="tblSafetyStock" class="table table-row-dashed table-hover table-row-gray-300 align-middle gy-5 gs-7 ">
                                    <thead class="table-primary">
                                        <tr class="fw-semibold fs-6 text-gray-80 fw-bold">
                                            <th class="text-center" style="width:5%">#</th>
                                            <th class="text-center">ชื่อวัสดุ</th>
                                            <th class="text-center">จำนวนสูงสุด</th>
                                            <th class="text-center">จำนวนต่ำสุด</th>
                                            <th class="text-center">จำนวนที่เบิกได้/ครั้ง</th>
                                            <th style="width:1px"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @Html.HiddenFor(x => x.MasterWarehouse.Id)
                                        @{
                                            var no = 1;
                                            foreach (var item in Model.listVMaterialSafetyStock)
                                            {
                                                <tr>
                                                    <td class="text-center">@no</td>
                                                    <td class="text-center">@item.MaterialName</td>
                                                    <td>
                                                        <input class="form-control form-control-sm text-center" value="@item.MaxStock" />
                                                    </td>
                                                    <td>
                                                        <input class="form-control form-control-sm text-center" value="@item.MinStock" />
                                                    </td>
                                                    <td>
                                                        <input class="form-control form-control-sm text-center" value="@item.DrawableAmount" />
                                                    </td>
                                                    <td>
                                                        <input value="@item.Id" hidden />
                                                    </td>

                                                </tr>
                                                no++;
                                            }
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>        *@                
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-save"></i> บันทึก</button>
                    <button type="button" class="btn btn-sm btn-light" data-bs-dismiss="modal"><i class="fa  fa-ban"></i>  ปิด</button>
                </div>

            </div>
        </div>
    </div>
    }

<div id="tbl"></div>
<div id="mdlDetail"></div>


<script>

    $('#mdlMasterWarehouse').modal('show');

    (function () {
        var forms = document.querySelectorAll('.needs-validation')
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                        hideWait();
                    }

                    form.classList.add('was-validated')

                    if (form.checkValidity()) {
                        GetSafetyStockData();
                    }

                }, false)
            })
    })();   

    function GetSafetyStockData() {

        var dataArrMat
        var dataArrMat = [];

        var txtbox;
        var masterWarehouseId = document.getElementById("masterWarehouseId");

        //gets table
        var oTable = document.getElementById('tblSafetyStock');
        var rowLength = oTable.rows.length;
        //alert(rowLength);
        var index;
        for (var i = 1; i < rowLength; i++) {
            index = i - 1;

            txtbox = document.getElementById("tblSafetyStock").rows[i].cells[5].getElementsByTagName('input')[0].value + ":"
            txtbox += document.getElementById("tblSafetyStock").rows[i].cells[2].getElementsByTagName('input')[0].value + ","
            txtbox += document.getElementById("tblSafetyStock").rows[i].cells[3].getElementsByTagName('input')[0].value + ","
            txtbox += document.getElementById("tblSafetyStock").rows[i].cells[4].getElementsByTagName('input')[0].value

            dataArrMat[index] = txtbox;

        }


        $.ajax({
            url: '@Url.Action("SavelistVMaterialSafetyStock", "Master")',
            data: {
                masterWarehouseId: masterWarehouseId.value,
                dataArrMat: dataArrMat
            },
            type: "Post",
            //dataType: "json",
            traditional: true,
            success: function (data) {

            }
        });

    }

    function GetlistVMaterialSafetyStockByMaterialGroup() {

        var cmbMatGroup = document.getElementById("cmbMaterialGroup");
        var masterWarehouseId = document.getElementById("masterWarehouseId");

        $.ajax({
            url: '@Url.Action("GetlistVMaterialSafetyStockByMaterialGroup", "Master")',
            data: {
                masterWarehouseId: masterWarehouseId.value,
                materialGroupId: cmbMatGroup.value
                
            },
            type: "Post",
            //dataType: "json",
            traditional: true,
            success: function (data) {
                $('#divTblMaterialSafetyStock').html(data);
                

            }
        });



    }

</script>

