@model List<MOEN_ERP.DAL.Models.VSystemUser>

<div class="card mt-10">
    <div class="card-body">
        <div class="table-responsive-xxl table-responsive-xl table-responsive-lg table-responsive-md table-responsive-sm">
            <table id="tblUser" class="table table-row-dashed table-hover table-row-gray-300 align-middle gy-5 gs-7">
                <thead class="table-primary">
                    <tr class="fw-semibold fs-6 text-gray-80 fw-bold">
                        <th class="text-center"></th>
                        <th class="text-center" style="width:5%">#</th>
                        <th class="text-center">ชื่อเข้าระบบ</th>
                        <th class="text-center">ชื่อ-นามสกุล</th>
                        <th class="text-center">การเข้าระบบ</th>
                        <th class="text-center">ใช้งานล่าสุด</th>
                        <th class="text-center">สถานะ</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var no = 1;
                        foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-center">
                                    <a class="btn btn-icon btn-sm btn-light-warning text-gray-800 text-hover-white fw-bold mb-0"
                                       data-bs-toggle="tooltip" data-bs-custom-class="tooltip-inverse" title="แก้ไขรายละเอียด"
                                       data-ajax="true"
                                       data-ajax-method="POST"
                                       data-ajax-mode="replace"
                                       data-ajax-update="#mdlDetail"
                                       href='@Url.Action("UserDetail", "System", new {userId = item.Id})'
                                       id="btnListId@(item.Id)">
                                        <i class="fa fa-edit fs-4"></i>
                                    </a>
                                    <a class="btn btn-icon btn-sm btn-light-danger text-gray-800 text-hover-white fw-bold mb-0"
                                       data-bs-toggle="tooltip" data-bs-custom-class="tooltip-inverse" title="ลบ"
                                       data-ajax="true"
                                       data-ajax-method="POST"
                                       data-ajax-mode="replace"
                                       data-ajax-update="#tbl"
                                       data-ajax-confirm="ต้องการลบผู้ใช้งานนี้หรือไม่"
                                       href='@Url.Action("DeleteSystemUsers", "System", new {userId = item.Id})'>
                                        <i class="fa fa-trash fs-4"></i>
                                    </a>
                                </td>
                                <td class="text-center">@no</td>
                                <td class="text-center">@item.Username</td>
                                <td class="text-center">@item.FirstName @item.LastName</td>
                                <td class="text-center">@(item.LoginType == "A" ? "Active Directory" : "ERP System")</td>
                                <td class="text-center">@item.LastLogin</td>
                                <td class="text-center">@(item.Active ?? false ? "ใช้งาน" : "ไม่ได้ใช้งาน")</td>
                            </tr>
                            no++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@if (ViewBag.success != null)
{
    <script>
        Swal.fire('@ViewBag.success', '', 'success');
    </script>
}
@if (ViewBag.error != null)
{
    <script>
        Swal.fire('@ViewBag.error', '', 'error');
    </script>
}
@if (ViewBag.openId != null)
{
    <script>
        $("#btnListId@(ViewBag.openId)").click();
    </script>
}

@if (ViewBag.hideModal != null)
{
    if (ViewBag.hideModal != "")
    {
        <script>
            $('#@(ViewBag.hideModal)').modal('hide');
        </script>
    }
    <script>
        $('#searchForm').submit();
    </script>

}
else
{
    <script>
        $('#tblUser').DataTable({
            language: {
                url: `${baseURL}/js/th.json`,
            },
            "paging": true,
            "searching": false,
            "lengthChange": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
            responsive: {
                details: {
                    display: $.fn.dataTable.Responsive.display.childRowImmediate,
                    type: 'none',
                    target: ''
                }
            },
            "pageLength": 10,
            deferLoading: 10,
            dom: '<"float-left"f>rt<"row"<"col-sm-4"i><"col-sm-4 text-center"l><"col-sm-4"p>>'
        });
    </script>

}