@* @model List<MOEN_ERP.DAL.Models.VMaterialStock> *@
@model MOEN_ERP.Models.ViewModel.AssetRequisitionMaterialCentralMatStockModel

<div class="card-body">
    <div class="table-responsive-xxl table-responsive-xl table-responsive-lg table-responsive-md table-responsive-sm mt-3">
        <table class="table table-row-dashed table-hover table-row-gray-300 align-middle gy-5 gs-7 " id="tblMaterialStock">
            <thead class="table-primary">
                <tr class="fw-semibold fs-6 text-gray-80 fw-bold">
                    <th class="text-center" width="50">
                        <input type="checkbox" value="1" id="chkSubAll" onchange="SelectDelAll()" />
                    </th>
                    <th class="text-center" style="width:5%">#</th>
                    <th class="text-center">ชื่อวัสดุ</th>
                    <th class="text-center">GPSC</th>
                    <th class="text-center">จำนวนคงเหลือ</th>                   
                    <th style="width:1px" hidden>MaterialStockId</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var no = 1;
                    foreach (var item in Model.lstVMaterialStock)
                    {
                        <tr>
                            <td class="text-center">
                                <input type="checkbox" value="1" id="chkSub" onchange="SelectDel()" />
                            </td>
                            <td class="text-center">@no</td>
                            <td class="text-center">@item.MaterialName</td>
                            <td class="text-center">@item.Gpsccode</td>
                            <td class="text-center">@item.Available</td>
                            <td hidden>@item.Id</td>
                        </tr>
                        no++;
                    }
                }
            </tbody>

        </table>
    </div>
</div>


<script>

    $('#tblMaterialStock').DataTable({
        language: {
            url: `${baseURL}/js/th.json`,
        },
        "paging": true,
        "searching": false,
        "lengthChange": true,
        "lengthMenu": [25, 50, 100],
        "ordering": false,
        "info": true,
        "autoWidth": false,
        "responsive": true,
        responsive: {
            details: {
                display: $.fn.dataTable.Responsive.display.childRowImmediate,
                type: 'none',
                target: ''
            }
        },
        "pageLength": 25,
        deferLoading: 10,
        dom: '<"float-left"f>rt<"row"<"col-sm-4"i><"col-sm-4 text-center"l><"col-sm-4"p>>'
    });

    function SelectDelAll() {
   
        var grid = null;
        var checkBoxes = null;
        grid = document.getElementById("tblMaterialStock");
        checkBoxes = grid.getElementsByTagName("INPUT");

        if (checkBoxes[0].checked) {
  
            for (var i = 1; i < checkBoxes.length; i++) {               
                var row = checkBoxes[i].parentNode.parentNode;
                checkBoxes[i].checked = true;               
            }
        }
        else {           
            for (var i = 1; i < checkBoxes.length; i++) {
                checkBoxes[i].checked = false;
            }
        }
    }
</script>




