@model List<MOEN_ERP.DAL.Models.VMaterialBorrow>

<div class="card mt-10">
<div class="card-body">
    <div class="table-responsive-xxl table-responsive-xl table-responsive-lg table-responsive-md table-responsive-sm mt-3">
        <table class="table table-row-dashed table-hover table-row-gray-300 align-middle gy-5 gs-7 " id="tblMaterialStock">
                <thead class="table-primary">
                    <tr class="fw-semibold fs-6 text-gray-80 fw-bold">
                        <th class="text-center" width="30"></th>
                        <th class="text-center" style="width:5%">#</th>
                        <th class="text-center">เลขที่เอกสาร</th>
                        <th class="text-center">วันที่ยืม</th>
                        <th class="text-center">หน่วยงาน</th>
                        <th class="text-center">ผู้ยืม</th>
                        <th class="text-center">สถานะ</th>
                    </tr>
                </thead>
            <tbody>
                @{
                    var no = 1;
                    foreach (var item in Model)
                    {
                            <tr>
                                <td class="text-center">
                                    <a href="@Url.Action("AssetBorrowMaterialDetail","Asset", new {mbId = item.Id})" class="btn btn-icon btn-sm btn-light-warning text-gray-800 text-hover-white fw-bold mb-0"
                                       data-bs-toggle="tooltip" data-bs-custom-class="tooltip-inverse" title="แก้ไขรายละเอียด">
                                        <i class="fa fa-edit fs-4"></i>
                                    </a>
                                </td>
                                <td class="text-center">@no</td>
                                <td class="text-center">@item.Code</td>
                                <td class="text-center">@item.BorrowDate?.ToString("dd/MM/yyyy")</td>
                                <td class="text-center">@item.SourceOrganizationName</td>
                                <td class="text-center">@item.BorrowerByName</td>
                                <td class="text-center">@item.StatusName</td>
                            </tr>
                        no++;
                    }
                }
            </tbody>

        </table>
    </div>
    </div>
</div>


<script>

    $('#tblMaterialStock').DataTable({
        language: {
            url: `${baseURL}/js/th.json`,
        },
        "paging": true,
        "searching": false,
        "lengthChange": true,
        "lengthMenu": [25, 50, 100],
        "ordering": false,
        "order": [],
        "info": true,
        "autoWidth": false,
        "responsive": true,
        responsive: {
            details: {
                display: $.fn.dataTable.Responsive.display.childRowImmediate,
                type: 'none',
                target: ''
            }
        },
        "pageLength": 25,
        deferLoading: 10,
        dom: '<"float-left"f>rt<"row"<"col-sm-4"i><"col-sm-4 text-center"l><"col-sm-4"p>>'
    });

    function SelectDelAll() {
   
        var grid = null;
        var checkBoxes = null;
        grid = document.getElementById("tblMaterialStock");
        checkBoxes = grid.getElementsByTagName("INPUT");

        if (checkBoxes[0].checked) {
  
            for (var i = 1; i < checkBoxes.length; i++) {               
                var row = checkBoxes[i].parentNode.parentNode;
                checkBoxes[i].checked = true;               
            }
        }
        else {
            message = "";
            for (var i = 1; i < checkBoxes.length; i++) {
                checkBoxes[i].checked = false;
            }
        }
    }
</script>




